<a href="#" class="Button {{modifier_class}}">Link Button</a>
<button class="Button {{modifier_class}}">Button Element</button>
<input type="button" class="Button {{modifier_class}}" value="input[type='button']"/>
